@{
    ViewBag.Title = "Sachs Mock Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sessionData">
    <span>Cart ID: </span>
    <span>
        <input type="text" id="cartId" />
    </span>
</div>

<div>
    <ul class="cart">
        <li>
            <span>
                <span>Col1</span>
                <span>Col1</span>
                <span>Col1</span>
                <span>Col1</span>
            </span>
        </li>
        <li>
            <span>
                <span>Col1</span>
                <span>Col1</span>
                <span>Col1</span>
                <span>Col1</span>
            </span>
        </li>
        <li>
            <span>
                <span>Col1</span>
                <span>Col1</span>
                <span>Col1</span>
                <span>Col1</span>
            </span>
        </li>
        <li>
            <span>
                <span>Col1</span>
                <span>Col1</span>
                <span>Col1</span>
                <span>Col1</span>
            </span>
        </li>
    </ul>
</div>